//Margin
	.list-m-0 li{
		margin: 0px !important;
	}	
	.list-m-1 li{
		margin: 0.5rem;
	}
	.list-m-2 li{
		margin: 1rem;
	}
	.list-m-3 li{
		margin: 1.5rem;
	}
	.list-m-4 li{
		margin: 2rem;
	}
	//top
	.list-mt-0 li{
		margin-top: 0px !important;
	}
	.list-mt-1 li{
		margin-top: 0.5rem;
	}
	.list-mt-2 li{
		margin-top: 1rem;
	}
	.list-mt-3 li{
		margin-top: 1.5rem;
	}
	.list-mt-4 li{
		margin-top: 2rem;
	}	
	//left
	.list-ml-0 li{
		margin-left: 0px !important;
	}
	.list-ml-1 li{
		margin-left: 0.5rem;
	}
	.list-ml-2 li{
		margin-left: 1rem;
	}
	.list-ml-3 li{
		margin-left: 1.5rem;
	}
	.list-ml-4 li{
		margin-left: 2rem;
	}	
	//bottom
	.list-mb-0 li{
		margin-bottom: 0px !important;
	}
	.list-mb-1 li{
		margin-bottom: 0.5rem;
	}
	.list-mb-2 li{
		margin-bottom: 1rem;
	}
	.list-mb-3 li{
		margin-bottom: 1.5rem;
	}
	.list-mb-4 li{
		margin-bottom: 2rem;
	}	
	//right
	.list-mr-0 li{
		margin-right: 0px !important;
	}
	.list-mr-1 li{
		margin-right: 0.5rem;
	}
	.list-mr-2 li{
		margin-right: 1rem;
	}
	.list-mr-3 li{
		margin-right: 1.5rem;
	}
	.list-mr-4 li{
		margin-right: 2rem;
	}


//Padding
	.list-p-0 li{
		margin: 0px !important;
	}
	.list-p-1 li{
		padding: 0.5rem;
	}
	.list-p-2 li{
		padding: 1rem;
	}
	.list-p-3 li{
		padding: 1.5rem;
	}
	.list-p-4 li{
		padding: 2rem;
	}	
	//top
	.list-pt-0 li{
		margin-top: 0px !important;
	}
	.list-pt-1 li{
		padding-top: 0.5rem;
	}
	.list-pt-2 li{
		padding-top: 1rem;
	}
	.list-pt-3 li{
		padding-top: 1.5rem;
	}
	.list-pt-4 li{
		padding-top: 2rem;
	}	
	//bottom
	.list-pb-1 li{
		padding-bottom: 0.5rem;
	}
	.list-pb-2 li{
		padding-bottom: 1rem;
	}
	.list-pb-3 li{
		padding-bottom: 1.5rem;
	}
	.list-pb-4 li{
		padding-bottom: 2rem;
	}
	//left
	.list-pl-1 li{
		padding-left: 0.5rem;
	}
	.list-pl-2 li{
		padding-left: 1rem;
	}
	.list-pl-3 li{
		padding-left: 1.5rem;
	}
	.list-pl-4 li{
		padding-left: 2rem;
	}
	//right
	.list-pr-1 li{
		padding-right: 0.5rem;
	}
	.list-pr-2 li{
		padding-right: 1rem;
	}
	.list-pr-3 li{
		padding-right: 1.5rem;
	}
	.list-pr-4 li{
		padding-right: 2rem;
	}