$primary : #e78030;
$secondary : #f8cd46;
$gray-200 : #f2f2f2;
$success: #6c8f52;

$font-family-sans-serif: "SoleilW01-Regular",'Helvetica Neue';

$navbar-dark-color: #fff;

$body-bg: #fff !default;

$gray-dark: #3b3b3b;

//f8cd46
//666666